body {
  padding: 40px;
}
.one-Q1 {
  border: 5px solid bisque;
  height: 200px;
  background-color: darkkhaki;
  line-height: 1.2;
  margin-bottom: 50px;
}
.two-Q2 {
  border: 5px solid darkslategray;
  height: 200px;
  background-color: coral;
}
.six-Q6 {
  border: 5px solid bisque;
  height: 200px;
  background-color: aqua;
}
.Interactive-media-assignment1 {
  border: 4px solid red;
  color: white;
  font-size: 25px;
}
.name {
  border: 4px solid red;
  color: aqua;
  font-size: 25px;
}
.course-number {
  border: 4px solid red;
  color: crimson;
  font-size: 25px;
}
.h1 {
  text-align: center;
}
.outer {
  border: 2px solid white;
  width: 700px;
  height: 50px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  gap: 10px;
}
.Interactive-media-assignment1 {
  background-color: brown;
}
.name {
  background-color: blue;
}
.course-number {
  background-color: darkseagreen;
}
