* {
  color: darkturquoise;
}
#myheading {
  color: blue;
}
/* this is a universal selector */
h1 {
  color: chartreuse;
}
p,
h3 {
  color: red;
}
.myclass {
  color: blueviolet;
}

/*span {
    display: block;
}*/

p {
  color: magenta;
  /text-align: center;
  border: 1px solid black;
  padding: 30px;
  /*width: 200px;*/
}
article {
  text-align: center;
  border: 1px dashed lime;
  padding: 10px;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h3 {
  text-align: left;
}
